<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
  
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Add Consultancy</h2>
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="registerConsultancy" (submit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Consultancy name</mat-label>
                      <input matInput formControlName="ConsultancyName">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>business</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Phone 1</mat-label>
                      <input matInput formControlName="Phone1">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Phone 2</mat-label>
                      <input matInput formControlName="Phone2">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Email 1</mat-label>
                      <input matInput formControlName="Email1">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Email 2</mat-label>
                      <input matInput formControlName="Email2">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Pin code</mat-label>
                      <input matInput formControlName="Pincode">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>pin_drop</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Website</mat-label>
                      <input matInput formControlName="Website">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>language</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>LinkedIn</mat-label>
                      <input matInput formControlName="LinkedInUrl">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>linkedin</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Password</mat-label>
                      <input matInput formControlName="Password">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <br>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Country</mat-label>
                      <input matInput formControlName="Country">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>public</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>State</mat-label>
                      <input matInput formControlName="State">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>location_city</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>City</mat-label>
                      <input matInput formControlName="City">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>location_city</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="Address">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>home</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Street</mat-label>
                      <input matInput formControlName="Street">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>home</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Registration number</mat-label>
                      <input matInput formControlName="RegistrationNo">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>assignment</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Facebook URL</mat-label>
                      <input matInput formControlName="FbUrl">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>facebook</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Year established</mat-label>
                      <input matInput formControlName="YearEstablished">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>calendar_today</mat-icon>
                    </mat-form-field>
                    <br>
                  </div>
                  <div class="row ">
                    <div class="col-auto">
                        <button type="submit" class="btn-space" mat-raised-button color="primary">{{editMode? 'Update':'Register'}}</button>
                        <button type="button" mat-raised-button color="warn">Cancel</button>
                    </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  