<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>

    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Document Upload</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="documentForm" (ngSubmit)="onDocumentFormSubmit()">
              <div class="row">

                <!-- Student Name Field -->
                <div class="col-xl-12 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Student Name</mat-label>
                    <input matInput formControlName="studentName" readonly>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>

                <!-- Student Phone Number Field -->
                <div class="col-xl-12 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Student Phone Number</mat-label>
                    <input matInput formControlName="contactNo" readonly>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                  </mat-form-field>
                </div>

                <!-- Document Type Dropdown -->
                <mat-form-field class="example-full-width">
                  <mat-label>Document Type</mat-label>
                  <mat-select formControlName="documentType" required>
                    <mat-option *ngFor="let type of documentTypes" [value]="type.id">
                      {{ type.documentType }}
                    </mat-option>
                  </mat-select>
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>description</mat-icon>
                </mat-form-field>

                <!-- File Upload Component -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Upload</label>
                  <app-file-upload formControlName="file"></app-file-upload>
                </div>

              </div>

              <!-- Remarks Textarea -->
              <div class="row">
                <div class="col-xl-12 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput formControlName="remarks" required></textarea>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>note</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <!-- Submit and Cancel Buttons -->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!documentForm.valid" mat-raised-button color="primary">
                    {{ isEditMode ? 'Update' : 'Submit' }}
                  </button>
                  
                  <button type="button" mat-raised-button color="warn" (click)="onCancel()">Back</button>
                </div>
              </div>
            </form>

            <!-- Display uploaded documents -->
            <div class="row mt-4" *ngIf="uploadedDocument$ | async as response">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div class="header mb-3">
                    <h2>Uploaded Documents</h2>
                  </div>

                  <!-- Uploaded Document Table -->
                  <table class="table table-hover table-responsive">
                    <thead class="thead-light">
                      <tr>
                        <th>Sr No.</th>
                        <th>Document Type</th>
                        <th>Remarks</th>
                        <!-- <th>Uploaded By</th> -->
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let document of response.data; let i = index">
                        <td data-label="Sr No.">{{ i + 1 }}</td>
                        <td data-label="Document Type">{{ getDocumentTypeName(document.documentTypeId) }}</td>
                        <td data-label="Remarks">{{ document.remarks }}</td>
                        <!-- <td data-label="Uploaded By">{{ document.uploadedBy }}</td> -->
                        <td data-label="Actions">
                          <button mat-icon-button color="primary" (click)="viewDocument(document.file)">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button mat-icon-button color="warn" (click)="deleteDocument(document.id)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Pagination Info -->
            <!-- <div class="row mt-3" *ngIf="uploadedDocument$ | async as response">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="pagination-info">
                  <p>Total Records: {{ response.pageInfo.totalRecords }}</p>
                  <p>Total Pages: {{ response.pageInfo.totalPages }}</p>
                  <p>Current Page: {{ response.pageInfo.currentPage }}</p>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
