.col{
    width: 80px; 
    height: 80px; 
    top: -40px;
  }
  
  .col1{
    width: 80px;
     height: 80px; 
     top: -40px;
  }

  .breadcrumb-item{
    cursor: pointer;
}

.mt-80
{
  margin-top: 80px;
}