<h1 mat-dialog-title>Add Permissions</h1>
<div mat-dialog-content>
  <form [formGroup]="assignPermissionForm" (ngSubmit)="onSubmit()">
    <!-- Iterate over the 'permissions' FormArray -->
    <div formArrayName="permissions">
      <div *ngFor="let permission of permissions.controls; let i = index" [formGroupName]="i" class="parent">
        <!-- Display the name of each permission item -->
        <div>
          <strong>{{ permission.get('name').value }}</strong>
        </div>
        <div class="boxes-container">
          <!-- Add Permission -->
          <div>
            <p>Add</p>
            <input type="checkbox" formControlName="canAdd" />
          </div>
          <!-- Edit Permission -->
          <div>
            <p>Edit</p>
            <input type="checkbox" formControlName="canEdit" />
          </div>
          <!-- Delete Permission -->
          <div>
            <p>Delete</p>
            <input type="checkbox" formControlName="canDelete" />
          </div>
          <!-- View Permission -->
          <div>
            <p>View</p>
            <input type="checkbox" formControlName="canView" />
          </div>
        </div>
      </div>
    </div>
    <!-- Submit and Close buttons -->
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="close-btn">Close</button>
      <button mat-button color="primary" type="submit" class="submit-btn">Submit</button>
    </div>
  </form>
</div>
