<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="editMode ? 'Edit Intake' : breadscrum.title" [items]="editMode ? ['Consultancy List','Intake List'] : breadscrum.items"
        [active_item]="editMode ? 'Edit Intake' : breadscrum.active">
      </app-breadcrumb>
    </div>

    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
        <div class="card">
          <div class="body">
            <form class="m-5" [formGroup]="registerIntake" (submit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Session</mat-label>
                    <mat-select formControlName="sessionId" required (selectionChange)="onSessionChange($event)">
                      <mat-option *ngFor="let session of (sessions | async)" [value]="session.id">
                        {{session.name}}
                      </mat-option>
                    </mat-select>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>school</mat-icon>
                  </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-1">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Select Date</mat-label>
                    <input matInput [matDatepicker]="picker" [matDatepickerFilter]="date" placeholder="YYYY-MM-DD" formControlName="year" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                                       
              </div>


              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Intakes</mat-label>
                    <input matInput formControlName="noOfIntake" type="number" required
                      appCustomValidator="noOfIntakes">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>group</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-auto col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                  <button type="submit" class="btn-space" mat-raised-button color="primary"
                    [disabled]="!registerIntake.valid">{{editMode ? 'Update' :
                    'Submit'}}</button>
                  <button type="button" mat-raised-button color="warn" (click)="navigateToIntakeList()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>