<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="editMode ? 'Edit Intake' : breadscrum.title" [items]="breadscrum.items"
          [active_item]="editMode ? 'Edit Intake' : breadscrum.active">
        </app-breadcrumb>
      </div>
  
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <div class="card">
            <div class="header">
              <h2>{{editMode ? 'Edit Intake' : 'Add Intake'}}</h2>
            </div>
            <div class="body">
              <form class="m-5" [formGroup]="registerIntake" (submit)="onSubmit()">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                    <mat-form-field class="example-full-width">
                      <mat-label>Select a program</mat-label>
                      <mat-select formControlName="programId"  required>
                        <mat-option *ngFor="let program of programs" [value]="program" >
                          {{program}}
                        </mat-option>
                      </mat-select>
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>school</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Select an institute</mat-label>
                      <mat-select formControlName="instituteId" required>
                        <mat-option *ngFor="let institute of institutes" [value]="institute">
                          {{institute}}
                        </mat-option>
                      </mat-select>
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>account_balance</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-1">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Select a session</mat-label>
                      <mat-select formControlName="sessionId" required>
                        <mat-option *ngFor="let session of sessions" [value]="session">
                          {{session}}
                        </mat-option>
                      </mat-select>
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>event</mat-icon>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Year</mat-label>
                      <input matInput formControlName="year" required appCustomValidator="year">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>group</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>No of intakes</mat-label>
                      <input matInput formControlName="noOfIntake" type="number" required appCustomValidator="noOfIntakes">
                      <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>group</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-auto col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                    <button type="submit" class="btn-space" mat-raised-button color="primary" [disabled]="!registerIntake.valid">{{editMode ? 'Update' :
                      'Submit'}}</button>
                    <button type="button" mat-raised-button color="warn">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
