<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>

    <!-- Show when country is not selected -->
    <div class="card p-4">
      <div class="row g-3">
        <div class="col-md-4">
          <app-searchable-dropdown [options]="countries" [displayField]="'countryName'"
            (selectionChange)="countrySelected($event)" [placeHolder]="'Country'"
            [instituteCountry]="instituteCountry"></app-searchable-dropdown>
        </div>
        <div class="col-md-4" *ngIf="roleName === 'superadmin'">
          <app-searchable-dropdown [options]="consultancies" [displayField]="'consultancyName'"
            (selectionChange)="onConsultancyChange($event)" [placeHolder]="'Consultancy'"
            [instituteConsultancyData]="instituteConsultancyInputData"
            [instituteConsultancy]="instituteConsultancy"></app-searchable-dropdown>
        </div>
        <!-- *ngIf="roleName === 'superadmin'" -->
        <div class="col-md-2">
          <button type="submit" class="btn-space" mat-raised-button color="primary" (click)="onSearch()">Search</button>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <app-search [searchText]="search"></app-search>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="ADD">
                    <button mat-mini-fab color="primary" (click)="addInstitute()"
                      *appPermissions="{feature:'Institute',action:'canAdd'}">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <button type="submit" class="btn-space mb-3" mat-raised-button color="primary" (click)="allInstitutes()">All Institutes</button>
    </div> -->

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body table-responsive">
            <table class="table table-hover table-responsive">
              <ng-container *ngIf="(universities | async) as institutesList">
                <!-- Conditionally display thead if there are institutes -->
                <thead *ngIf="institutesList.length > 0">
                  <tr>
                    <th>
                      <app-sorting [sortField]="defaultData.OrderBy" [sortDirection]="defaultData.sortExpression"
                        [sortFields]="['instituteName']" [sortLabels]="['Name']" (sortChange)="onSortChange($event)">
                      </app-sorting>
                    </th>
                    <th>
                      <app-sorting [sortField]="defaultData.OrderBy" [sortDirection]="defaultData.sortExpression"
                        [sortFields]="['province']" [sortLabels]="['Province']" (sortChange)="onSortChange($event)">
                      </app-sorting>
                    </th>
                    <th>
                      <app-sorting [sortField]="defaultData.OrderBy" [sortDirection]="defaultData.sortExpression"
                        [sortFields]="['email']" [sortLabels]="['Email']" (sortChange)="onSortChange($event)">
                      </app-sorting>
                    </th>
                    <th>
                      <app-sorting [sortField]="defaultData.OrderBy" [sortDirection]="defaultData.sortExpression"
                        [sortFields]="['phoneNumber']" [sortLabels]="['Phone']" (sortChange)="onSortChange($event)">
                      </app-sorting>
                    </th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <!-- Display the table body -->
                <tbody>
                  <tr *ngIf="institutesList.length > 0; else noData">
                  <tr *ngFor="let institute of institutesList">
                    <td data-label="Institute Name">{{ institute.instituteName }}</td>
                    <td data-label="Province">{{ institute.province }}</td>
                    <td data-label="Email">{{ institute.email }}</td>
                    <td data-label="Phone No">{{ institute.phoneNo }}</td>
                    <td data-label="Actions">
                      <ng-container *ngIf="roleName !== 'superadmin'">
                        <button mat-icon-button [routerLink]="['/consultancy/institute-details', institute.id]"
                          matTooltip="View" (click)="onView()" *appPermissions="{feature:'Institute',action:'canView'}"
                          (click)="onEditorViewInstitute()">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="roleName === 'superadmin'">
                        <button mat-icon-button [routerLink]="['/consultancy/institute-details', institute.id]"
                          matTooltip="View" (click)="onView()" (click)="onEditorViewInstitute()">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="roleName !== 'superadmin'">
                        <button mat-icon-button color="primary"
                          [routerLink]="['/consultancy/edit-institute', institute.id]" matTooltip="Edit"
                          *appPermissions="{feature:'Institute',action:'canEdit'}" (click)="onEditorViewInstitute()">
                          <!-- <mat-icon>edit</mat-icon> -->
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="roleName === 'superadmin'">
                        <button mat-icon-button color="primary"
                          [routerLink]="['/consultancy/edit-institute', institute.id]" matTooltip="Edit" (click)="onEditorViewInstitute()">
                          <!-- <mat-icon>edit</mat-icon> -->
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                      </ng-container>

                      <ng-container *ngIf="roleName !== 'superadmin'">
                        <button mat-icon-button color="warn" (click)="deleteInstitute(institute.id)" matTooltip="Delete"
                          *appPermissions="{feature:'Institute',action:'canDelete'}">
                          <!-- <mat-icon>delete</mat-icon> -->
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </ng-container>
                      <ng-container *ngIf="roleName === 'superadmin'">
                        <button mat-icon-button color="warn" (click)="deleteInstitute(institute.id)"
                          matTooltip="Delete">
                          <!-- <mat-icon>delete</mat-icon> -->
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </ng-container>

                      <button mat-icon-button color="warn" matTooltip="Programs"
                        (click)="institutePrograms(institute.id, institute.instituteName, institute.consultancyId)">
                        <!-- <mat-icon>delete</mat-icon> -->
                        <app-feather-icons [icon]="'book'" [class]="'tbl-fav-edit'"></app-feather-icons>
                      </button>

                      <button mat-icon-button color="warn" matTooltip="Sessions"
                        (click)="instituteSession(institute.id,institute.instituteName)">
                        <!-- <mat-icon>delete</mat-icon> -->
                        <app-feather-icons [icon]="'calendar'" [class]="'tbl-fav-edit'"></app-feather-icons>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </ng-container>

              <!-- Template for no data found -->
              <ng-template #noData>
                <tr>
                  <td colspan="5" class="text-center">No Data Found</td>
                </tr>
              </ng-template>
            </table>

            <!-- Show pagination only if institutesList data exists -->
            <app-pagination *ngIf="(universities | async)?.length > 0" [pageSize]="defaultData.pageSize"
              (pageChange)="onPageChange($event)" [length]="records" [pageIndex]="currentPageIndex">
            </app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>