<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <!-- Your content goes here  -->
      <div class="row clearfix">
        <div class="col-lg-3 col-md-12">
          <div class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark">
                  <div class="user-name">{{consultancy.consultancyName}}</div>
                  <div class="name-center">{{consultancy.country}}</div>
                </div>
                <div class="position-relative">
                  <img src="assets/images/user/user.png" class="profile-img user-img" alt="">
                  <mat-icon matSuffix class="profile-img-edit" matTooltip="Edit">edit</mat-icon>
                </div>
                <p>
                  <mat-icon>location_on</mat-icon> {{consultancy.address}}, {{consultancy.city}}
                </p>
                <div>
                  <span class="phone">
                    <mat-icon>phone</mat-icon>{{consultancy.phone1}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12">
          <div class="card">
            <mat-tab-group>
              <mat-tab label="Basic Details">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="table-responsive">
                        <table class="table table-bordered table-hover mt-2">
                          <thead>
                            <tr>
                              <th>Field</th>
                              <th>Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><mat-icon color="primary">business</mat-icon> Consultancy Name</td>
                              <td>{{ consultancy.consultancyName }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">phone</mat-icon> Phone 1</td>
                              <td>{{ consultancy.phone1 }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">phone</mat-icon> Phone 2</td>
                              <td>{{ consultancy.phone2 }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">email</mat-icon> Email 1</td>
                              <td>{{ consultancy.email1 }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">email</mat-icon> Email 2</td>
                              <td>{{ consultancy.email2 }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">public</mat-icon> Country</td>
                              <td>{{ consultancy.country }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">location_city</mat-icon> State</td>
                              <td>{{ consultancy.state }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">location_city</mat-icon> City</td>
                              <td>{{ consultancy.city }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">home</mat-icon> Address</td>
                              <td>{{ consultancy.address }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">home</mat-icon> Street</td>
                              <td>{{ consultancy.street }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">assignment</mat-icon> Registration No.</td>
                              <td>{{ consultancy.registrationNo }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">calendar_today</mat-icon> Year Established</td>
                              <td>{{ consultancy.yearEstablished }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">language</mat-icon> Website</td>
                              <td>{{ consultancy.website }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">facebook</mat-icon> Facebook URL</td>
                              <td>{{ consultancy.fbUrl }}</td>
                            </tr>
                            <tr>
                              <td><mat-icon color="primary">linkedin</mat-icon> LinkedIn URL</td>
                              <td>{{ consultancy.linkedInUrl }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </section>
  