<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>

        <div class="card p-4" *ngIf="!selectedOptions">
            <div class="row g-3">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100 mb-0">
                        <mat-label>Select Institute</mat-label>
                        <mat-icon matPrefix>school</mat-icon>
                        <mat-select required (selectionChange)="onInstituteChange($event)">
                            <mat-option *ngFor="let institute of (institutes | async)" [value]="institute.id">
                                {{ institute.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100 mb-0">
                        <mat-label>Select Session</mat-label>
                        <mat-icon matPrefix>school</mat-icon>
                        <mat-select required [formControl]="sessionFormControl" (selectionChange)="onSessionChange($event)">
                            <mat-option *ngFor="let session of (sessions | async)" [value]="session.id">
                                {{ session.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100 mb-0">
                        <mat-label>Select Intake</mat-label>
                        <mat-icon matPrefix>home</mat-icon>
                        <mat-select required [formControl]="intakeFormControl" (selectionChange)="onIntakeChange($event)">
                            <mat-option *ngFor="let intake of (intakes | async)" [value]="intake.id">
                                {{ intake.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100 mb-0">
                        <mat-label>is Public</mat-label>
                        <mat-icon matPrefix>home</mat-icon>
                        <mat-select required (selectionChange)="isPublic($event)">
                            <mat-option *ngFor="let status of courseStatus" [value]="status">
                                {{ status }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="selectedOptions">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <app-search [searchText]="search"></app-search>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="ADD">
                                        <button mat-mini-fab color="primary" (click)="addProgram()">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix" *ngIf="selectedOptions">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body table-responsive">
                        <table class="table table-hover table-responsive" matSort
                            (matSortChange)="onSortChange($event)">
                            <thead>
                                <tr>
                                    <th mat-sort-header="programName">Program Name</th>
                                    <th mat-sort-header="duration">Duration</th>
                                    <th mat-sort-header="levelOfEducation">Level Of Education</th>
                                    <th mat-sort-header="status">Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let program of (programs | async)">
                                    <td data-label="Program Name">{{ program.programName }}</td>
                                    <td data-label="Duration">{{ program.duration }}</td>
                                    <td data-label="Level of Education">{{ program.levelOfEducation }}</td>
                                    <td data-label="Status">{{ program.status }}</td>
                                    <td data-label="Actions">

                                        <button mat-icon-button
                                            [routerLink]="['/consultancy/program-details', program.id]">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                        <button mat-icon-button color="primary"
                                            [routerLink]="['/consultancy/edit-program', program.id]">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" (click)="deleteProgram(program.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <app-pagination [pageSize]="defaultData.pageSize"
                            (pageChange)="onPageChange($event)"
                            [length]="records">
                        </app-pagination>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>