<section class="content">
    <div class="container-fluid">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
            </app-breadcrumb>
        </div>

        <div class="card p-4">
            <div class="row g-3">
                <div class="col-md-4" *ngIf="roleName === 'superadmin'">
                    <app-searchable-dropdown [options]="consultancies" [displayField]="'consultancyName'"
                        [programInstitute]="instituteName ? instituteName : ''"
                        (selectionChange)="onConsultancyChange($event)"
                        [placeHolder]="'Consultancy'"></app-searchable-dropdown>
                </div>

                <div class="col-md-4">
                    <app-searchable-dropdown [options]="institutes" [displayField]="'name'"
                        [programInstitute]="instituteName ? instituteName : '' "
                        (selectionChange)="instituteSelected($event)"
                        [placeHolder]="'Institute'"></app-searchable-dropdown>
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn-space" mat-raised-button color="primary"
                        (click)="onSearch()">Search</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <app-search [searchText]="search"></app-search>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="ADD">
                                        <button mat-mini-fab color="primary" (click)="addProgram()"
                                            *appPermissions="{feature:'Program',action:'canAdd'}">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body table-responsive">
                        <table class="table table-hover table-responsive">
                            <thead *ngIf="(programs | async)?.length > 0">
                                <tr>
                                    <th>
                                        <app-sorting [sortField]="defaultData.OrderBy"
                                            [sortDirection]="defaultData.sortExpression" [sortFields]="['programName']"
                                            [sortLabels]="['Name']" (sortChange)="onSortChange($event)">
                                        </app-sorting>
                                    </th>
                                    <th>
                                        <app-sorting [sortField]="defaultData.OrderBy"
                                            [sortDirection]="defaultData.sortExpression" [sortFields]="['duration']"
                                            [sortLabels]="['Duration']" (sortChange)="onSortChange($event)">
                                        </app-sorting>
                                    </th>
                                    <th>
                                        <app-sorting [sortField]="defaultData.OrderBy"
                                            [sortDirection]="defaultData.sortExpression"
                                            [sortFields]="['levelOfEducation']" [sortLabels]="['Level of Education']"
                                            (sortChange)="onSortChange($event)">
                                        </app-sorting>
                                    </th>
                                    <th>
                                        <app-sorting [sortField]="defaultData.OrderBy"
                                            [sortDirection]="defaultData.sortExpression" [sortFields]="['status']"
                                            [sortLabels]="['Status']" (sortChange)="onSortChange($event)">
                                        </app-sorting>
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="(programs | async)?.length === 0">
                                    <td colspan="5" class="text-center">No Data Found</td>
                                </tr>
                                <tr *ngFor="let program of (programs | async)">
                                    <td data-label="Program Name">{{ program.programName }}</td>
                                    <td data-label="Duration">{{ program.duration }}</td>
                                    <td data-label="Level of Education">{{ program.levelOfEducation }}</td>
                                    <td data-label="Status">{{ program.status }}</td>
                                    <td data-label="Actions">
                                        <button mat-icon-button color="primary" matTooltip="Intakes"
                                        (click)="getIntakesOfprogram(program.instituteId,program.instituteName,program.id,program.programName)">
                                        <!-- <mat-icon>edit</mat-icon> -->
                                        <app-feather-icons [icon]="'users'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                      </button>
                                        <ng-container *ngIf="roleName !== 'superadmin'">
                                            <button mat-icon-button
                                                [routerLink]="['/consultancy/program-details', program.id]"
                                                matTooltip="View"
                                                *appPermissions="{feature:'Program',action:'canView'}"
                                                (click)="onViewProgram()">
                                                <mat-icon>visibility</mat-icon>
                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="roleName === 'superadmin'">
                                            <button mat-icon-button
                                                [routerLink]="['/consultancy/program-details', program.id]"
                                                matTooltip="View"
                                                (click)="onViewProgram()">
                                                <mat-icon>visibility</mat-icon>
                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="roleName !== 'superadmin'">
                                            <button mat-icon-button color="primary"
                                                [routerLink]="['/consultancy/edit-program', program.id]"
                                                matTooltip="Edit"
                                                *appPermissions="{feature:'Program',action:'canEdit'}"
                                                (click)="onEditProgram()">
                                                <!-- <mat-icon>edit</mat-icon> -->
                                                <app-feather-icons [icon]="'edit'"
                                                    [class]="'tbl-fav-edit'"></app-feather-icons>

                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="roleName === 'superadmin'">
                                            <button mat-icon-button color="primary"
                                                [routerLink]="['/consultancy/edit-program', program.id]"
                                                matTooltip="Edit"
                                                (click)="onEditProgram()">
                                                <!-- <mat-icon>edit</mat-icon> -->
                                                <app-feather-icons [icon]="'edit'"
                                                    [class]="'tbl-fav-edit'"></app-feather-icons>

                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="roleName !== 'superadmin'">
                                            <button mat-icon-button color="warn" (click)="deleteProgram(program.id)"
                                                matTooltip="Delete"
                                                *appPermissions="{feature:'Program',action:'canDelete'}">
                                                <!-- <mat-icon>delete</mat-icon> -->
                                                <app-feather-icons [icon]="'trash-2'"
                                                    [class]="'tbl-fav-delete'"></app-feather-icons>
                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="roleName === 'superadmin'">
                                            <button mat-icon-button color="warn" (click)="deleteProgram(program.id)"
                                                matTooltip="Delete">
                                                <!-- <mat-icon>delete</mat-icon> -->
                                                <app-feather-icons [icon]="'trash-2'"
                                                    [class]="'tbl-fav-delete'"></app-feather-icons>
                                            </button>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <app-pagination *ngIf="(programs | async)?.length > 0" [pageSize]="defaultData.pageSize"
                            (pageChange)="onPageChange($event)" [length]="records" [pageIndex]="currentPageIndex">
                        </app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>