<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items"
        [active_item]="breadscrum.active"></app-breadcrumb>
    </div>
 
    <div class="card p-4">
      <div class="row g-3">
        <div class="col-md-4">
          <app-searchable-dropdown [options]="institutes" [displayField]="'name'"
            (selectionChange)="onInstituteSelected($event)" [sessionInstitue]="instituteName ? instituteName : ''"
            [placeHolder]="'Institute'"></app-searchable-dropdown>
        </div>
        <!-- <div class="col-md-4">
          <app-searchable-dropdown [options]="programs" [displayField]="'name'" (selectionChange)=" onProgramChange($event)" [sessionInstitue]="programName? programName: ''" [placeHolder]="'Program'"></app-searchable-dropdown>
        </div> -->
        <div class="col-md-2">
          <button type="submit" class="btn-space" mat-raised-button color="primary" (click)="onSearch()">Search</button>
        </div>
      </div>
    </div>
 
 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="materialTableHeader">
          <div class="left">
            <ul class="header-buttons-left ms-0">
              <app-search [searchText]="search"></app-search>
            </ul>
          </div>
          <div class="right">
            <ul class="tbl-export-btn">
              <li class="tbl-header-btn">
                <div class="m-l-10" matTooltip="ADD">
                  <button mat-mini-fab color="primary" (click)="addSession()"
                    *appPermissions="{feature:'Session',action:'canView'}">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="body table-responsive">
          <table class="table table-hover table-responsive">
            <thead *ngIf="isSessions">
              <tr>
                <th>
                  <app-sorting [sortField]="defaultData.OrderBy" [sortDirection]="defaultData.sortExpression"
                    [sortFields]="['sessionName']" [sortLabels]="['Session']" (sortChange)="onSortChange($event)">
                  </app-sorting>
                </th>
                <th>
                  <app-sorting [sortField]="defaultData.OrderBy" [sortDirection]="defaultData.sortExpression"
                    [sortFields]="['instituteName']" [sortLabels]="['Institute']"
                    (sortChange)="onSortChange($event)">
                  </app-sorting>
                </th>
                <th>
                  <app-sorting [sortField]="defaultData.OrderBy" [sortDirection]="defaultData.sortExpression"
                    [sortFields]="['consultancyName']" [sortLabels]="['Consultancy']"
                    (sortChange)="onSortChange($event)">
                  </app-sorting>
                </th>
                <th>Actions</th>
              </tr>
            </thead>
 
            <tbody>
              <!-- Display No Data Found if there are no institutes or programs -->
              <tr *ngIf="!isSessions">
                <td colspan="2" class="text-center">No Data Found</td>
              </tr>
 
              <!-- Loop through sessions when data exists -->
              <tr *ngFor="let session of (sessions | async)">
                <td data-label="Session">{{ session.sessionName }}</td>
                <td data-label="Institute">{{ session.instituteName }}</td>
                <td data-label="Consultancy">{{ session.consultancyName }}</td>
                <td data-label="Actions">
                  <button mat-icon-button color="primary" matTooltip="Intakes"
                    (click)="onIntakes(session.id, session.instituteName, session.programName, session.sessionName, session.instituteId)">
                    <!-- <mat-icon>edit</mat-icon> -->
                    <app-feather-icons [icon]="'users'" [class]="'tbl-fav-edit'"></app-feather-icons>
                  </button>
                  <ng-container *ngIf="roleName !== 'superadmin'">
                    <button mat-icon-button color="primary" [routerLink]="['/consultancy/edit-session', session.id]"
                      matTooltip="Edit" *appPermissions="{feature:'Session',action:'canEdit'}"
                      (click)="onEditorViewSession()">
                      <!-- <mat-icon>edit</mat-icon> -->
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
 
                    </button>
                  </ng-container>
                  <ng-container *ngIf="roleName === 'superadmin'">
                    <button mat-icon-button color="primary" [routerLink]="['/consultancy/edit-session', session.id]"
                      matTooltip="Edit" (click)="onEditorViewSession()">
                      <!-- <mat-icon>edit</mat-icon> -->
                      <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
 
                    </button>
                  </ng-container>
 
                  <ng-container *ngIf="roleName !== 'superadmin'">
                    <!-- <button mat-icon-button color="warn" (click)="onDeleteSession(session.id)" matTooltip="Delete"
                      *appPermissions="{feature:'Session',action:'canDelete'}"> -->
                      <!-- <mat-icon>delete</mat-icon> -->
                      <!-- <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button> -->
                    <app-model (click)="onDeleteSession(session.id)" *appPermissions="{feature:'Session',action:'canDelete'}"></app-model>
                  </ng-container>
 
                  <ng-container *ngIf="roleName === 'superadmin'">
                    <app-model (click)="onDeleteSession(session.id)"></app-model>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
 
          <!-- Conditionally show pagination -->
          <app-pagination *ngIf="isSessions" [pageSize]="defaultData.pageSize"
            (pageChange)="onPageChange($event)" [length]="records" [pageIndex]="currentPageIndex">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</section>