
.logo
{
    height: 50px;
    // width: 20%;
    // border: 1px solid;
     position: relative;
     top: -10px
    // margin-bottom: 50px;
    // padding-top: 50px;
}

.logo2
{
    height: 90px;
    width: 55%;
    // border: 1px solid;
     position: relative;
     top: -27px;
     margin-left: -10px;
    // margin-bottom: 50px;
    // padding-top: 50px;
}
.profile-menu {
    width: 300px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-details {
    margin-top: 15px;
    text-align: center;
  }
  
  .user-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .user-email {
    font-size: 14px;
    color: gray;
  }
  
  .manage-account-btn {
    margin-top: 10px;
    color: #1a73e8;
    font-size: 14px;
  }
  
  .divider {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #e0e0e0;
  }
  
  .user_dw_menu button {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .user-menu-icons {
    margin-right: 10px;
    font-size: 18px;
  }
  