<mat-form-field>
  <mat-label>Date</mat-label>
  <input
  type="text" 
    matInput 
    [matDatepicker]="dp" 
    [formControl]="dateControl" 
    [matDatepickerFilter]="dateFilter" 
    readonly 
    class="date-box">
  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (monthSelected)="setMonthAndYear($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>
