<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="editMode ? 'Edit' : breadscrum.title"
                [items]="editMode ? ['Programs']:breadscrum.items"
                [active_item]="editMode ? 'Edit' : breadscrum.active">
            </app-breadcrumb>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="body">
                        <form class="m-4" [formGroup]="registerProgram" (submit)="onSubmit()">

                            <!-- Program Name -->
                            <div class="row mb-1">
                                <div class="col-12 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Program Name</mat-label>
                                        <input matInput formControlName="programName" required
                                            appCustomValidator="programName" maxlength="50">
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>school</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- Program Description and Duration -->
                            <div class="row mb-1">
                                <div class="col-md-12 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Program Description (Max : 50 characters)</mat-label>
                                        <textarea matInput formControlName="programDescription" required
                                            appCustomValidator="description" maxlength="50"></textarea>
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>description</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Duration</mat-label>
                                        <input matInput formControlName="duration" required
                                            appCustomValidator="duration">
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>schedule</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Application Fee</mat-label>
                                        <input matInput formControlName="applicationFee" type="number" required
                                            appCustomValidator="applicationFee">
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>account_balance_wallet</mat-icon>
                                    </mat-form-field>
                                </div>

                            </div>

                            <!-- Fees and Level of Education -->
                            <div class="row mb-1">
                                <div class="col-md-6 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Tuition Fee</mat-label>
                                        <input matInput formControlName="tutionFee" type="number" required
                                            appCustomValidator="tuitionFee">
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>money</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Level of Education</mat-label>
                                        <input matInput formControlName="levelOfEducation" required
                                            appCustomValidator="levelOfEducation">
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>school</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- Subject Requirements -->
                            <div class="row mb-1">
                                <div class="col-12 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Subject Requirements</mat-label>
                                        <textarea matInput formControlName="subjectRequirements"
                                            appCustomValidator="subjectRequirements" required></textarea>
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>book</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-md-12 mb-1">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Academic Requirements</mat-label>
                                    <textarea matInput formControlName="academicRequirements"
                                        appCustomValidator="academicRequirements" required></textarea>
                                    <mat-icon class="material-icons-two-tone color-icon p-3"
                                        matSuffix>assignment</mat-icon>
                                </mat-form-field>
                            </div>


                            <!-- Intake ID and session ID -->
                            <div class="row mb-1">

                                <div class="col-md-6 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Institute</mat-label>
                                        <mat-select formControlName="instituteId" required
                                            (selectionChange)="onInstituteChange($event)">
                                            <mat-option *ngFor="let institute of (instituteOptions | async)"
                                                [value]="institute.id">{{
                                                institute.name }}</mat-option>
                                        </mat-select>
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>business</mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Program Category</mat-label>
                                        <mat-select formControlName="programCategoryId" required>
                                            <mat-option *ngFor="let category of (programCategoryOptions|async)"
                                                [value]="category.id">{{ category.name }}</mat-option>
                                        </mat-select>
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>category</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- Academic Requirements  -->

                            <div class="row mb-1">
                                <div class="col-md-6 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Course Type</mat-label>
                                        <mat-select formControlName="courseTypeId" required>
                                            <mat-option *ngFor="let category of (courseTypeOptions|async)"
                                                [value]="category.id">{{ category.name }}</mat-option>
                                        </mat-select>
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>category</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Is Public</mat-label>
                                        <mat-select formControlName="isPublic" required>
                                            <mat-option *ngFor="let category of isPublic" [value]="category">{{ category
                                                }}</mat-option>
                                        </mat-select>
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>category</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>



                            <!-- Status -->
                            <div class="row mb-1">
                                <div class="col-12 mb-1">
                                    <mat-form-field appearance="fill" class="example-full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="status" required>
                                            <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status
                                                }}</mat-option>
                                        </mat-select>
                                        <mat-icon class="material-icons-two-tone color-icon p-3"
                                            matSuffix>info</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- Submit/Update and Cancel Buttons -->
                            <div class="row mb-1">
                                <div class="col-auto">
                                    <button type="submit" class="btn-space" mat-raised-button color="primary"
                                        [disabled]="!registerProgram.valid">{{editMode
                                        ? 'Update' : 'Submit'}}</button>
                                    <button type="button" mat-raised-button color="warn"
                                        (click)="navigateToProgramList()">Cancel</button>
                                </div>
                            </div>
                        </form>