<!-- <div class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-gradient">
  <div class="row w-100 justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-9">
      <div class="card shadow-lg border-0">
        <div class="card-body p-5">
          <div class="text-center mb-4">
            <h4 class="mt-4">Welcome Back!</h4>
          </div>
          <form  [formGroup]="signInForm" (submit)="signIn()">
            <div class="form-floating mb-4">
              <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="userName" required  appCustomValidator="email">
              <label for="email"><i class="fas fa-envelope me-2"></i>Enter email</label>
            </div>
            <div class="form-floating mb-4">
              <input type="password" class="form-control" id="password" placeholder="Password"  formControlName="password" required>
              <label for="password"><i class="fas fa-lock me-2"></i>Enter password</label>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <a href="#" class="text-decoration-none">Forgot Password?</a>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="!signInForm.valid">Login</button>
          </form> -->
          <!-- <div class="mt-4 text-center">
            <ul class="list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-google fa-lg"></i></a></li>
              <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-facebook-f fa-lg"></i></a></li>
              <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-twitter fa-lg"></i></a></li>
              <li class="list-inline-item"><a href="#" class="text-muted"><i class="fab fa-linkedin-in fa-lg"></i></a></li>
            </ul>
          </div> -->
        <!-- </div>
      </div>
    </div>
  </div>
</div> --> 


<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/user/COGVEELlive.png" alt="logo-full"></a>
                  </div>

                  <h4 class="font-20 mt-4">Welcome Back !</h4>
                  <p class="text-muted">Sign in to continue </p>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>
                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                      <input type="email" appCustomValidator="email" formControlName="userName" class="form-control auth-control" id="email"
                        placeholder="Email" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" required>
                      <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                        <div *ngIf="form['email'].errors['required']">Email is required</div>
                        <div *ngIf="form['email'].errors['email']">Email must be a valid email address</div>
                      </div>
                    </div>

                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input type="password" formControlName="password" class="form-control auth-control"
                        id="password" [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
                        placeholder="Password" required/>
                      <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                        <div *ngIf="form['password'].errors['required']">Password is required</div>
                      </div>
                    </div>

                    <div class="flex-sb-m w-full p-t-15 p-b-20">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value=""> Remember me
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      <div>
                        <a class="txt1" routerLink="/authentication/forgot-password">Forgot Password?</a>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button [disabled]="!signInForm.valid" mat-raised-button color="primary" class="login100-form-btn" type="submit">
                        Login
                      </button>
                    </div>
                  </form>
                </div>
                <div class="mt-5 text-center">
                  <p>Don't have an account ? <a routerLink="/authentication/signup"
                      class="font-weight-medium text-primary">
                      Register </a> </p>
                  <!-- <ul class="list-unstyled social-icon mb-0 mt-3">
                    <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                        <i class="fab fa-google"></i>
                      </a></li>
                    <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded flex-c-m">
                        <i class="fab fa-facebook-f"></i>
                      </a></li>
                    <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                        <i class="fab fa-twitter"></i>
                      </a></li>
                    <li class="list-inline-item m-2"><a href="javascript:void(0)" class="rounded">
                        <i class="fab fa-linkedin-in"></i>
                      </a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
