.sortable-header {
    // cursor: pointer;
    // display: inline-flex;
    // align-items: center;
   
  }
  .allign{
    vertical-align:middle;
    font-size: 1.1rem;
    color: #ccc;
    cursor: pointer;
  } 