.bg-white{
  background-color: #fff;
}

.profile-img-edit
{
  position: absolute;
  right: 10px;
  top: -40px;
  color: #fff;
  cursor: pointer;
}
.profile-img
{
  border-radius: 50% !important;
  width: 110px !important;
  height: 110px !important;
  object-fit: cover !important;
  background: #fff;
}

/* Ensure active menus are always visible */
.active > ul {
  display: block !important;
}

.sidebar .menu ul li .sidebarIcon {
  margin-right: 10px;
}
