<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active"></app-breadcrumb>
      </div>
  
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Reactive Forms (Customized)</h2>
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="thirdForm" (ngSubmit)="onThirdFormSubmit()">
                <div class="row">
              
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Add Admin Role</mat-label>
                      <input matInput formControlName="roleName" type="text" required appCustomValidator="roleName">
                    </mat-form-field>
                  </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="btn-space" [disabled]="!thirdForm?.valid" mat-raised-button color="primary">Submit</button>
                    <button type="button" mat-raised-button color="warn"  [routerLink]="['/admin/listrole']">Cancel</button>
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  