<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active"></app-breadcrumb>
    </div>

    <div class="card p-4">
      <div class="row g-3 permissions-container">
        <div class="col-md-4">
          <app-searchable-dropdown [options]="allRoles" [displayField]="'roleName'" (selectionChange)="onRoleChange($event)" [placeHolder]="'Role'" [roleName]="roleName"></app-searchable-dropdown>
        </div>
        <div class="col-md-2">
          <button mat-mini-fab color="primary" (click)="openDialog()" [disabled]="!roleSelected">
            <mat-icon class="col-white">add</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <form [formGroup]="permissionsForm">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body table-responsive">
              <b class="table-heading"> Permissions </b>
              <table class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th>Menu</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody formArrayName="modules" >
                  <tr *ngFor="let module of modules.controls; let i = index" [formGroupName]="i">
                    <!-- <td data-label="Module">{{ module.get('name').value }}</td> -->
                    <td data-label="Menu">
                      {{ module.get('subMenuName')?.value || 'No Name' }}
                    </td>
                    <td data-label="Add">
                      <mat-checkbox formControlName="canAdd"></mat-checkbox>
                    </td>
                    <td data-label="Edit">
                      <mat-checkbox formControlName="canEdit"></mat-checkbox>
                    </td>
                    <td data-label="Delete">
                      <mat-checkbox formControlName="canDelete"></mat-checkbox>
                    </td>
                    <td data-label="View">
                      <mat-checkbox formControlName="canView"></mat-checkbox>
                    </td>
                    <td data-label="Actions">
                      <ng-container *ngIf="editedRowIndex === i; else defaultButtons">
                        <!-- Save and Cancel Buttons -->
                        <button mat-icon-button color="primary" matTooltip="Save" (click)="onEdit(module.value, i)">
                          <mat-icon>done</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="Cancel" (click)="onCancelEdit()">
                          <mat-icon>close</mat-icon>
                        </button>
                      </ng-container>
                      <ng-template #defaultButtons>
                        <!-- Edit and Delete Buttons -->
                        <button mat-icon-button color="primary" matTooltip="Edit" (click)="onEdit(module.value,i)">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="Delete" (click)="onDelete(module.value.id)">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </ng-template>
                    </td>
                  </tr>
                  <tr *ngIf="modules.controls.length === 0">
                    <td colspan="6">No modules found</td>
                  </tr>
                </tbody>
              </table>

              <!-- Pagination Component -->
                <!-- Show pagination only if institutesList data exists -->
            <app-pagination  [pageSize]="defaultData.pageSize"
              (pageChange)="onPageChange($event)" [length]="records" [pageIndex]="currentPageIndex">
            </app-pagination>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
