<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items"
          [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
           
            <div class="body">
              <mat-horizontal-stepper [linear]="isLinear" #stepper class="sepper">
               

                   <!-- personal info -->
                <mat-step [stepControl]="HFormGroup2!">
                    <form [formGroup]="HFormGroup2!">
                      <ng-template matStepLabel>Personal Info</ng-template>
                        

                      <!-- <div
                      class="header mb-3 d-flex align-items-center justify-content-between">
                      <h2>Education Details</h2>
                     
                      <button mat-raised-button color="primary" class="edit-btn"
                      (click)="toggleEdit()">
                      {{ iseditingmode ? 'Update' : 'Edit' }}
                    </button>
                    </div> -->
                       
                    <!-- <h2>Personal Information</h2> -->
    
                        <!-- Edit Button positioned at the top-right -->
                        <!-- <button mat-raised-button color="primary" class="edit-btn"
                          (click)="toggleEdit()">
                          {{ iseditingmode ? 'Update' : 'Edit' }}
                        </button> -->
    

    
                      <div class="program-info-container">
                        <div
                        class="header  d-flex align-items-center justify-content-between">
                        <h3 class="pheading">Personal Information</h3>
                       
                        <button mat-raised-button color="primary" class=""
                        (click)="toggleEdit()">
                        {{ iseditingmode ? 'Update' : 'Edit' }}
                      </button>
                      </div>
                        <div class="program-info">
    
                          <!-- Student Name Field -->
                          <div class="info-field">
                            <label>Student Name</label>
                            <p *ngIf="!iseditingmode">{{ studentData?.studentName
                              }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <input matInput formControlName="studentName" />
                            </mat-form-field>
                          </div>
    
                          <!-- Date of Birth Field -->
                          <div class="info-field">
                            <label>Date of Birth</label>
                            <p *ngIf="!iseditingmode">{{ studentData?.dob | date:
                              'yyyy-MM-dd' }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <input matInput type="date" formControlName="dob" />
                            </mat-form-field>
                          </div>
    
                          <!-- Citizenship Field -->
                          <div class="info-field">
                            <label>Citizenship</label>
                            <p *ngIf="!iseditingmode">{{ studentData?.citizenship
                              }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <mat-select formControlName="citizenship">
                                <mat-option *ngFor="let country of countries"
                                  [value]="country.countryName">
                                  {{ country.countryName }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
    
                          <!-- Language Field -->
                          <div class="info-field">
                            <label>Language</label>
                            <p *ngIf="!iseditingmode">{{ studentData?.language
                              }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <input matInput formControlName="language" />
                            </mat-form-field>
                          </div>
    
                          <!-- Passport Expiry Field -->
                          <div class="info-field">
                            <label>Passport Expiry</label>
                            <p *ngIf="!iseditingmode">{{ studentData?.passportExpiry
                              | date: 'yyyy-MM-dd' }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <input matInput type="date"
                                formControlName="passportExpiry" />
                            </mat-form-field>
                          </div>
    
                          <!-- Email Address Field -->
                          <div class="info-field">
                            <label>Email Address</label>
                            <p *ngIf="!iseditingmode">{{ studentData?.emailAddress
                              }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <input matInput type="email"
                                formControlName="emailAddress" />
                            </mat-form-field>
                          </div>
    
                          <!-- Contact Number Field -->
                          <div class="info-field">
                            <label>Contact Number</label>
                            <p *ngIf="!iseditingmode">{{ studentData?.contactNo
                              }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <input matInput formControlName="contactNo" />
                            </mat-form-field>
                          </div>
    
                          <!-- Residential Address Field -->
                          <div class="info-field">
                            <label>Residential Address</label>
                            <p *ngIf="!iseditingmode">{{
                              studentData?.residentialAddress }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <input matInput
                                formControlName="residentialAddress" />
                            </mat-form-field>
                          </div>
    
                          <!-- Mailing Address Field -->
                          <div class="info-field">
                            <label>Mailing Address</label>
                            <p *ngIf="!iseditingmode">{{ studentData?.mailingAddress
                              }}</p>
                            <mat-form-field *ngIf="iseditingmode" appearance="fill"
                              class="full-width">
                              <input matInput formControlName="mailingAddress" />
                            </mat-form-field>
                          </div>
                        </div>
    
                        <!-- Navigation Buttons -->
                        <div class="button-container">
                          <button mat-raised-button matStepperPrevious color="warn"
                            class="msr-2" (click)="navigateBack()">Back</button>
                          <button mat-raised-button matStepperNext
                            color="primary">Next</button>
                        </div>
                      </div>
                    </form>
                  </mat-step>
    

                <!-- documents -->
                <mat-step [stepControl]="documentForm!">
                  <!-- Display uploaded documents -->
                  <div class="row"
                    *ngIf="uploadedDocument$ | async as response">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="card">
                        <div
                        class="header mb-3 d-flex align-items-center justify-content-between">
                        <h2>Uploaded Documents</h2>
                        <button mat-icon-button color="success"
                          (click)="onAddEducation()">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                        <!-- Uploaded Document Table -->
                        <table class="table table-hover table-responsive">
                          <thead class="thead-light">
                            <tr>
  
                              <th>Document Type</th>
                              <th>Remarks</th>
                              <!-- <th>Uploaded By</th> -->
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let document of response.data; let i = index">
  
                              <td data-label="Document Type">{{
                                getDocumentTypeName(document.documentTypeId)
                                }}</td>
  
                              <!-- {{ type.documentType }} -->
                              <td data-label="Remarks">{{ document.remarks }}</td>
                              <!-- <td data-label="Uploaded By">{{ document.uploadedBy }}</td> -->
                              <td data-label="Actions">
                                <button mat-icon-button color="primary"
                                  (click)="viewDocument(document.file)">
                                  <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-icon-button color="warn"
                                  (click)="deleteDocument(document.id)">
                                  <!-- <mat-icon>delete</mat-icon> -->
                                  <app-feather-icons [icon]="'trash-2'"
                                    [class]="'tbl-fav-delete'"></app-feather-icons>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <form [formGroup]="documentForm!"
                    (ngSubmit)="onDocumentFormSubmit()">
                    <ng-template matStepLabel>Documents</ng-template>
                    <div class="program-info-container">
                      <h2>Document Upload</h2>
  
                      <div class="program-info">
                        <!-- <form class="m-4" [formGroup]="documentForm" (ngSubmit)="onDocumentFormSubmit()"> -->
                        <div class="row">
  
                          <!-- Student Name Field -->
                          <div
                            class="col-xl-12 col-lg-4 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Student Name</mat-label>
                              <input matInput formControlName="studentName"
                                readonly>
                              <mat-icon
                                class="material-icons-two-tone color-icon p-3"
                                matSuffix>person</mat-icon>
                            </mat-form-field>
                          </div>
  
                          <!-- Student Phone Number Field -->
                          <div
                            class="col-xl-12 col-lg-4 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Student Phone Number</mat-label>
                              <input matInput formControlName="contactNo"
                                readonly>
                              <mat-icon
                                class="material-icons-two-tone color-icon p-3"
                                matSuffix>phone</mat-icon>
                            </mat-form-field>
                          </div>
  
                          <!-- Document Type Dropdown -->
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Document Type</mat-label>
                              <mat-select formControlName="documentType" required>
                                <mat-option *ngFor="let type of documentTypes"
                                  [value]="type.id">
                                  {{ type.documentType }}
                                </mat-option>
                              </mat-select>
                              <mat-icon
                                class="material-icons-two-tone color-icon p-3"
                                matSuffix>description</mat-icon>
                            </mat-form-field>
                          </div>
                          
  
                          <!-- File Upload Component -->
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
  
                            <label>Upload</label>
                            <app-file-upload
                              formControlName="file"></app-file-upload>
                          </div>
  
                        </div>
  
                        <!-- Remarks Textarea -->
  
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput formControlName="remarks"
                              required></textarea>
                            <mat-icon
                              class="material-icons-two-tone color-icon p-3"
                              matSuffix>note</mat-icon>
                          </mat-form-field>
                        </div>
  
                        <!-- Submit and Cancel Buttons -->
  
                        <div class="button-container">
                          <button class="btn-space"
                            [disabled]="!documentForm.valid" mat-raised-button
                            color="primary">
                            {{ isEditMode ? 'Update' : 'Submit' }}
                          </button>
  
                          <!-- <button type="button" mat-raised-button color="warn" (click)="onCancel()">Back</button> -->
                        </div>
  
                        <!-- </form> -->
                      </div>
                      <div class="button-container">
                        <button mat-raised-button matStepperPrevious color="warn"
                          class="msr-2">Back</button>
                        <button mat-raised-button matStepperNext
                          color="primary">Next</button>
                      </div>
                    </div>
  
                  </form>
  
                </mat-step>
                
                
              
                <!-- education -->
                <mat-step>
                  <!-- Display Education Grid -->
                  <div class="row"
                    *ngIf="educationEntries$ | async as response">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="card">
                        <div
                          class="header mb-3 d-flex align-items-center justify-content-between">
                          <h2>Education Details</h2>
                          <button mat-icon-button color="success"
                            (click)="onAddEducation()">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
  
                        <!-- Education Grid Table -->
                        <!-- Education Grid Table -->
                        <table class="table table-hover table-responsive">
                          <thead class="thead-light">
                            <tr>
                              <th>Country</th>
                              <th>Highest Level of Education</th>
                              <th>Grading Scheme</th>
                              <th>Grade Average</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Use async pipe to subscribe to educationEntries$ and access inner array -->
                            <tr
                              *ngFor="let education of (educationEntries$ | async)[0]; let i = index">
                              <td data-label="Country of Education">{{
                                education.countryOfEducation }}</td>
                              <td data-label="Higher Level of Education">{{
                                education.higherLevelOfEducation
                                }}</td>
                              <td data-label="Grading Scheme">{{
                                education.gradingScheme }}</td>
                              <td data-label="Grading Average">{{
                                education.gradingAverage }}</td>
                              <td data-label="Actions">
  
                                <button mat-icon-button color="primary"
                                  (click)="updateEducation(education.id)">
                                  <mat-icon>
                                    <app-feather-icons [icon]="'edit'"
                                      [class]="'tbl-fav-edit'"></app-feather-icons></mat-icon>
                                </button>
                                <button mat-icon-button color="warn"
                                  (click)="deleteEducation(education.id)">
                                  <app-feather-icons [icon]="'trash-2'"
                                    [class]="'tbl-fav-delete'"></app-feather-icons>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
  
                      </div>
                    </div>
                  </div>
  
                  <ng-template matStepLabel>Education</ng-template>
                  <div class="program-info-container">
                    <h2><strong>Add Education</strong></h2>
                    <div class="program-info">
                      <div class="body">
                        <form [formGroup]="educationForm"
                          (ngSubmit)="onEducationNext()">
                          <div class="row">
                            <!-- Country of Education -->
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                              <mat-form-field class="example-full-width"
                                appearance="fill">
                                <mat-label>Country of Education</mat-label>
                                <mat-select formControlName="countryOfEducation">
                                  <mat-option *ngFor="let country of countries"
                                    [value]="country.countryName">
                                    {{ country.countryName }}
                                  </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>public</mat-icon>
                              </mat-form-field>
                            </div>
  
                            <!-- Citizenship Field -->
                            <!-- <div class="info-field">
                          <label>Citizenship</label>
                          <p *ngIf="!iseditingmode">{{ studentData?.citizenship
                            }}</p>
                          <mat-form-field *ngIf="iseditingmode" appearance="fill"
                            class="full-width">
                            <mat-select formControlName="citizenship">
                              <mat-option *ngFor="let country of countries"
                                [value]="country.countryName">
                                {{ country.countryName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div> -->
  
                            <!-- Highest Level of Education -->
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                              <mat-form-field class="example-full-width"
                                appearance="fill">
                                <mat-label>Highest Level of Education</mat-label>
                                <input matInput
                                  formControlName="higherLevelOfEducation" />
                                <mat-icon matSuffix>school</mat-icon>
                              </mat-form-field>
                            </div>
  
                            <!-- Grading Scheme -->
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                              <mat-form-field class="example-full-width"
                                appearance="fill">
                                <mat-label>Grading Scheme</mat-label>
                                <input matInput formControlName="gradingScheme" />
                                <mat-icon matSuffix>assignment</mat-icon>
                              </mat-form-field>
                            </div>
  
                            <!-- Grade Average -->
                            <div
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                              <mat-form-field class="example-full-width"
                                appearance="fill">
                                <mat-label>Grade Average</mat-label>
                                <input matInput
                                  formControlName="gradingAverage" />
                                <mat-icon matSuffix>bar_chart</mat-icon>
                              </mat-form-field>
                            </div>
                          </div>
  
                          <p class="text-muted">*10th and 12* Grade details are
                            mandatory</p>
  
                          <div class="button-container">
                            <button mat-raised-button matStepperPrevious
                              color="warn" class="me-2">
                              Back
                            </button>
                            <button mat-raised-button matStepperNext
                              color="primary"
                              type="submit">
                              {{ isEdittingMode ? 'Update' : 'Next' }}
                            </button>
  
                          </div>
                        </form>
  
                      </div>
                    </div>
                  </div>
                </mat-step>
                <!-- test -->
                <mat-step>
                  <div class="row"
                    *ngIf="testByStudentId$ | async as response">
  
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="card">
                        <div
                          class="header mb-3 d-flex align-items-center justify-content-between">
                          <h2>Test Details</h2>
                          <button mat-icon-button color="success"
                            (click)="onAddEducation()">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                        <!-- (click)="onAddTest()" -->
                        <!-- Test Grid Table -->
                        <table class="table table-hover table-responsive">
                          <thead class="thead-light">
                            <tr>
                              <th>Test Name</th>
                              <th>Test Type</th>
                              <th> Subject</th>
                              <th>Test Date</th>
                              <th>Duration</th>
                              <th>Score</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Use async pipe to subscribe to tests$ and access inner array -->
                            <tr *ngFor="let test of response; let i = index">
                              <!-- *ngFor="let test of tests; let i = index" -->
                              <td data-label="Test Name">{{ test.testName }}</td>
                              <td data-label="Test Type">{{ test.testType }}</td>
                              <td data-label="Subject">{{ test.subject }}</td>
                              <td data-label="Test Date">{{ test.testDate }}</td>
                              <td data-label="Duration">{{ test.testDuration
                                }}</td>
                              <td data-label="Score">{{ test.score }}</td>
                              <td data-label="Actions">
                                <button
                                mat-icon-button
                                color="primary"
                                (click)="updateTest(test.id)">
                                <mat-icon>
                                  <app-feather-icons
                                    [icon]="'edit'"
                                    [class]="'tbl-fav-edit'"></app-feather-icons>
                                </mat-icon>
                              </button>
                                <button
                                  mat-icon-button
                                  color="warn"
                                  (click)="deleteTest(test.id)">
                                  <mat-icon>
                                    <app-feather-icons
                                      [icon]="'trash-2'"
                                      [class]="'tbl-fav-delete'"></app-feather-icons>
                                  </mat-icon>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
  
                  <ng-template matStepLabel>Test</ng-template>
                  <div class="program-info-container">
                  
                    <!-- class="header" -->
                    <h2><strong>Add Test</strong></h2>
                    
                  
                  <div class="program-info">
                    <div class="body">
                  <form [formGroup]="testForm" (ngSubmit)="onTestSubmit()">
                    
                      
                        <div class="row">
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width"
                              appearance="fill">
                              <mat-label>Test Name</mat-label>
                              <input matInput formControlName="testName">
                              <mat-icon matSuffix>assignment</mat-icon>
                            </mat-form-field>
                          </div>
  
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width"
                              appearance="fill">
                              <mat-label>Test Type</mat-label>
                              <input matInput formControlName="testType">
                              <mat-icon matSuffix>category</mat-icon>
                            </mat-form-field>
                          </div>
  
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width"
                              appearance="fill">
                              <mat-label>Subject</mat-label>
                              <input matInput formControlName="subject">
                              <mat-icon matSuffix>subject</mat-icon>
                            </mat-form-field>
                          </div>
  
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width"
                              appearance="fill">
                              <mat-label>Test Date</mat-label>
                              <input matInput type="date"
                                formControlName="testDate">
                              <mat-icon matSuffix>event</mat-icon>
                            </mat-form-field>
                          </div>
  
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width"
                              appearance="fill">
                              <mat-label>Test Duration (in minutes)</mat-label>
                              <input matInput type="number"
                                formControlName="testDuration">
                              <mat-icon matSuffix>timer</mat-icon>
                            </mat-form-field>
                          </div>
  
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width"
                              appearance="fill">
                              <mat-label>Score</mat-label>
                              <input matInput type="number"
                                formControlName="score">
                              <mat-icon matSuffix>grade</mat-icon>
                            </mat-form-field>
                          </div>
  
                        
                      </div>
                    
                    <div class="button-container">
                      <button mat-raised-button matStepperPrevious
                        color="warn" class="me-2" type="button">
                        Back
                      </button>
                      <button mat-raised-button color="primary" class="me-2"
                        type="submit" matStepperNext>{{ isEditsMode ? 'Update' : 'Submit' }}</button>
                      <!-- <button mat-raised-button color="warn" type="button"
                        (click)="onTestReset()">Reset</button> -->
                        
                    </div>
                  </form>
                  </div>
                  </div>
                  </div>
                  
                </mat-step>
  
                <!-- <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>Your application has been processed successfully.</p>
                  <p>Click **Apply** to finalize your application.</p>
                  <div>
                    <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                    <button mat-raised-button color="primary" (click)="openConfirmationDialog()">Apply</button>
                  </div>
                </mat-step> -->
                
  
              </mat-horizontal-stepper>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  