<section class="content">
    <div class="content-block">
        <div class="block-header" *ngFor="let breadscrum of breadscrums">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active"></app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                   
                    <div class="body">
                        <form class="m-4" [formGroup]="thirdForm" (ngSubmit)="onThirdFormSubmit()">
                            <div class="row">
                                <!-- Student Name Field -->
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Student Name</mat-label>
                                        <input matInput formControlName="studentName" required appCustomValidator="Name" type="text">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                                    </mat-form-field>
                                </div>
                                
                                
                                <!-- Date of Birth Field -->
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Date of Birth</mat-label>
                                        <input matInput [matDatepicker]="dobPicker" formControlName="dob"  appCustomValidator="dob" required>
                                        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #dobPicker></mat-datepicker>
                                        <!-- <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>event</mat-icon> -->
                                    </mat-form-field>
                                </div>
                                
                                <!-- Citizenship Field -->
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Citizenship</mat-label>
                                        <input matInput formControlName="citizenship" required appCustomValidator="citizenship" type="text">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>public</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Language Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Language</mat-label>
                                        <input matInput formControlName="language" required appCustomValidator="language" type="text">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>language</mat-icon>
                                    </mat-form-field>
                                </div>
                                
                                <!-- Passport Expiry Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Passport Expiry</mat-label>
                                        <input matInput [matDatepicker]="expiryPicker" formControlName="passportExpiry" appCustomValidator="passportexpiry" required>
                                        <mat-datepicker-toggle matSuffix [for]="expiryPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #expiryPicker></mat-datepicker>
                                        <!-- <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>date_range</mat-icon> -->
                                    </mat-form-field>
                                </div>


                              
                            </div>
                            <div class="row">
                                <!-- Email Address Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Email Address</mat-label>
                                        <input matInput formControlName="emailAddress" required appCustomValidator="email" type="email">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                                    </mat-form-field>
                                </div>
                                
                                <!-- Contact Number Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput formControlName="contactNo" required appCustomValidator="phoneNumber" type="tel"
                                        maxlength="12"
                                        pattern="[0-9]*">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Residential Address Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Residential Address</mat-label>
                                        <textarea matInput formControlName="residentialAddress" required appCustomValidator="address"></textarea>
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>home</mat-icon>
                                    </mat-form-field>
                                </div>
                                
                                <!-- Mailing Address Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Mailing Address</mat-label>
                                        <textarea matInput formControlName="mailingAddress" required appCustomValidator="address"></textarea>
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>mail_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Agent ID Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Agent ID</mat-label>
                                        <input matInput formControlName="agentId" required appCustomValidator="agentId" type="number">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>person</mat-icon>
                                    </mat-form-field>
                                </div>
                                
                                <!-- Password Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <!-- <mat-form-field class="example-full-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput formControlName="password" required appCustomValidator="password" type="password">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>lock</mat-icon>
                                    </mat-form-field> -->
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput formControlName="password" [type]="hide3 ? 'password' : 'text'" required appCustomValidator="password">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix (click)="hide3 = !hide3">
                                          {{hide3 ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>
                                      </mat-form-field>
                                </div>
                                
                                <!-- Institute ID Field -->
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Institute ID</mat-label>
                                        <input matInput formControlName="instituteId" required appCustomValidator="instituteId" type="number">
                                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>school</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Submit and Cancel Buttons -->
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button class="btn-space" [disabled]="!thirdForm.valid" mat-raised-button color="primary">
                                        {{ isFormPrefilled() ? 'Update Student' : 'Submit' }}
                                    </button>
                                    <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  