<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
   
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
         
          <div class="body">
            <form class="m-4" [formGroup]="thirdForm" (ngSubmit)="onThirdFormSubmit()">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" required appCustomValidator="firstName">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="middleName" required appCustomValidator="middleName">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" required appCustomValidator="lastName">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide3 ? 'password' : 'text'" required appCustomValidator="password">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix (click)="hide3 = !hide3">
                      {{hide3 ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required appCustomValidator="gender">
                      <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{ gender }}
                      </mat-option>
                    </mat-select>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
                
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required appCustomValidator="email">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Phone</mat-label>
                    <input 
                      matInput 
                      formControlName="phoneNumber" 
                      required 
                      appCustomValidator="phoneNumber" 
                      type="tel" 
                      maxlength="12"
                      pattern="[0-9]*">
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" required appCustomValidator="address"></textarea>
                    <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>home</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!thirdForm.valid" mat-raised-button color="primary">
                    {{ isFormPrefilled() ? 'Update User' : 'Submit' }}
                  </button>
                  <button type="button" mat-raised-button color="warn" [routerLink]="['/admin/listusers']">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
