<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active ">
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-3 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">{{student.studentName}}</div>
                <div class="name-center">Student</div>
              </div>
              <div class="position-relative">

                <!-- <img src="assets/images/user/DSC_0339.JPG" class="user-img" alt=""> -->
                <img src="assets/images/user/user.png" class="profile-img user-img" alt="">
                <mat-icon matSuffix class="profile-img-edit" matTooltip="Edit">edit</mat-icon>
                
                
              </div>
              <p>
                {{student.residentialAddress}}
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>{{student.contactNo}}</span>
              </div>
             
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                 Profile
              </ng-template>
           
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header d-flex align-items-center">
                    <!-- <h2 class="me-4"><strong>About</strong></h2> -->
                    <h2 (click)="editStudent()" class="cursor-pointer"><strong>Edit Profile</strong></h2>
                  </div>
                  
                  
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">{{student.studentName}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">{{student.contactNo}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">{{student.emailAddress}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Residential Address</strong>
                        <br>
                        <p class="text-muted">{{student.residentialAddress}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Mailing Address</strong>
                        <br>
                        <p class="text-muted">{{student.mailingAddress}}</p>
                      </div>
                      
                      <div class="col-md-3 col-6">
                        <strong>Citizenship</strong>
                        <br>
                        <p class="text-muted">{{student.citizenship}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Language</strong>
                        <br>
                        <p class="text-muted">{{student.language}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Passport Expiry</strong>
                        <br>
                        <p class="text-muted">{{student.passportExpiry  | date: 'dd-MM-yyyy'}}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>DOB</strong>
                        <br>
                        <p class="text-muted">{{student.dob  | date: 'dd-MM-yyyy'}}</p>
                      </div>

                    </div>
                   
                  </div>
                </div>
              </div>
              
             
             
            </mat-tab>


<!-- document sub component -->
  <!-- document sub component -->
     <!-- document sub component -->
           <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">description</mat-icon>
                Documents
              </ng-template>
              <div class="header">
                <!-- <h2> -->
                  <!-- <strong>Documents</strong> Settings</h2> -->
                  <h2 (click)="editDocument()" class="cursor-pointer"><strong>Add Document</strong></h2>
              </div>
              <div class="body">
                <div class="example-container">
                  
                   <!-- Uploaded Document Table -->
                   <table class="table table-hover table-responsive">
                    <thead class="thead-light">
                      <tr>
                        <!-- <th>Sr No.</th> -->
                        <th>Document Type</th>
                        <th>Remarks</th>
                        <!-- <th>Uploaded By</th> -->
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Iterate over the 'data' array within the PaginatedResponse -->
                      <tr *ngFor="let document of (uploadedDocument$ | async)?.data; let i = index">
                        <!-- <td data-label="Sr No.">{{ i + 1 }}</td> -->
                        <td data-label="Document Type">{{ getDocumentTypeName(document.documentTypeId) }}</td>
                        <td data-label="Remarks">{{ document.remarks }}</td>
                        <!-- <td data-label="Uploaded By">{{ document.uploadedBy }}</td> -->
                        <td data-label="Actions">
                          <button mat-icon-button color="primary" (click)="viewDocument(document.file)">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <!-- Uncomment and implement the edit functionality as needed -->
                          <!--
                          <button mat-icon-button color="primary" (click)="editDocument(document.id)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          -->
                        </td>
                      </tr>
                      <!-- Optional: Handle the case when there are no documents -->
                      <tr *ngIf="(uploadedDocument$ | async)?.data?.length === 0">
                        <td colspan="5" class="text-center">No documents uploaded.</td>
                      </tr>
                    </tbody>
                  </table>
                  
                 
                </div>
                
              </div>
             
              
            </mat-tab>
           



     
   <!-- test sub component -->
          <!-- test sub component -->
               <!-- test sub component -->

               <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon msr-2">add</mat-icon>
                   Test
                </ng-template>
                <div class="row " *ngIf="testByStudentId$ | async as response">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                      <div class="header d-flex align-items-center justify-content-between">
                        <h2>Test Details</h2>
                        <button mat-raised-button color="primary" (click)="onAddEducation()">Add</button>
                      </div>
                      <div class="body">
                        <div class="example-container">
                      <table class="table table-hover table-responsive">
                        <thead class="thead-light">
                          <tr>
                            <th>Test Name</th>
                            <th>Test Type</th>
                            <th>Subject</th>
                            <th>Test Date</th>
                            <th>Duration</th>
                            <th>Score</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let test of response; let i = index">
                            <td data-label="Test Name">{{ test.testName }}</td>
                            <td data-label="Test Type">{{ test.testType }}</td>
                            <td data-label="Subject">{{ test.subject }}</td>
                            <td data-label="Test Date">{{ test.testDate }}</td>
                            <td data-label="Duration">{{ test.testDuration }}</td>
                            <td data-label="Score">{{ test.score }}</td>
                            <td data-label="Actions">
                              <button mat-icon-button color="primary" (click)="updateTest(test.id)">
                                <mat-icon><app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons></mat-icon>
                              </button>
                              <button mat-icon-button color="warn" (click)="deleteTest(test.id)">
                                <mat-icon><app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons></mat-icon>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              
                
              
               
                <div>
                  <div class="header">
                    <h2>
                      <strong>Add Test</strong>
                    </h2>
                  </div>
                  <div>
                    <div class="body">
                      <div class="example-container">
                      <form [formGroup]="testForm" (ngSubmit)="onTestSubmit()">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Test Name</mat-label>
                              <input matInput formControlName="testName">
                              <mat-icon matSuffix>assignment</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Test Type</mat-label>
                              <input matInput formControlName="testType">
                              <mat-icon matSuffix>category</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Subject</mat-label>
                              <input matInput formControlName="subject">
                              <mat-icon matSuffix>subject</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Test Date</mat-label>
                              <input matInput type="date" formControlName="testDate">
                              <mat-icon matSuffix>event</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Test Duration (in minutes)</mat-label>
                              <input matInput type="number" formControlName="testDuration">
                              <mat-icon matSuffix>timer</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Score</mat-label>
                              <input matInput type="number" formControlName="score">
                              <mat-icon matSuffix>grade</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="button-container">
                          <button mat-raised-button color="warn" class="me-2" type="button">
                            Back
                          </button>
                          <button mat-raised-button color="primary" class="me-2" type="submit" >
                            {{ isEditsMode ? 'Update' : 'Next' }}
                          </button>
                        </div>
                        
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              
              
      <!-- education sub component -->
           
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon msr-2">school</mat-icon>
          Education
        </ng-template>
        <!-- Display Education Grid -->
        <div class="row"
        *ngIf="educationEntries$ | async as response">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div
              class="header d-flex align-items-center justify-content-between">
              <h2>Education Details</h2>
              <button mat-raised-button color="primary"
                (click)="onAddEducation()">
                Add
              </button>
            </div>
            <div class="body">
              <div class="example-container">
            <!-- Education Grid Table -->
            <!-- Education Grid Table -->
            <table class="table table-hover table-responsive">
              <thead class="thead-light">
                <tr>
                  <th>Country</th>
                  <th>Highest Level of Education</th>
                  <th>Grading Scheme</th>
                  <th>Grade Average</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- Use async pipe to subscribe to educationEntries$ and access inner array -->
                <tr
                  *ngFor="let education of (educationEntries$ | async)[0]; let i = index">
                  <td data-label="Country of Education">{{
                    education.countryOfEducation }}</td>
                  <td data-label="Higher Level of Education">{{
                    education.higherLevelOfEducation
                    }}</td>
                  <td data-label="Grading Scheme">{{
                    education.gradingScheme }}</td>
                  <td data-label="Grading Average">{{
                    education.gradingAverage }}</td>
                  <td data-label="Actions">

                    <button mat-icon-button color="primary"
                      (click)="updateEducation(education.id)">
                      <mat-icon>
                        <app-feather-icons [icon]="'edit'"
                          [class]="'tbl-fav-edit'"></app-feather-icons></mat-icon>
                    </button>
                    <button mat-icon-button color="warn"
                      (click)="deleteEducation(education.id)">
                      <app-feather-icons [icon]="'trash-2'"
                        [class]="'tbl-fav-delete'"></app-feather-icons>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
        </div>
        </div>
        <div class="header">
          <h2>
            <strong>Add Education</strong>
          </h2>
        </div>
        <div class="body">
          <div class="example-container">
             <div class="row">
              <form [formGroup]="educationForm"
              (ngSubmit)="onEducationNext()">
              <div class="row">
                <!-- Country of Education -->
                <div
                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width"
                    appearance="fill">
                    <mat-label>Country of Education</mat-label>
                    <mat-select formControlName="countryOfEducation">
                      <mat-option *ngFor="let country of countries"
                        [value]="country.countryName">
                        {{ country.countryName }}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>public</mat-icon>
                  </mat-form-field>
                </div>

                <!-- Citizenship Field -->
                <!-- <div class="info-field">
              <label>Citizenship</label>
              <p *ngIf="!iseditingmode">{{ studentData?.citizenship
                }}</p>
              <mat-form-field *ngIf="iseditingmode" appearance="fill"
                class="full-width">
                <mat-select formControlName="citizenship">
                  <mat-option *ngFor="let country of countries"
                    [value]="country.countryName">
                    {{ country.countryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

                <!-- Highest Level of Education -->
                <div
                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width"
                    appearance="fill">
                    <mat-label>Highest Level of Education</mat-label>
                    <input matInput
                      formControlName="higherLevelOfEducation" />
                    <mat-icon matSuffix>school</mat-icon>
                  </mat-form-field>
                </div>

                <!-- Grading Scheme -->
                <div
                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width"
                    appearance="fill">
                    <mat-label>Grading Scheme</mat-label>
                    <input matInput formControlName="gradingScheme" />
                    <mat-icon matSuffix>assignment</mat-icon>
                  </mat-form-field>
                </div>

                <!-- Grade Average -->
                <div
                  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width"
                    appearance="fill">
                    <mat-label>Grade Average</mat-label>
                    <input matInput
                      formControlName="gradingAverage" />
                    <mat-icon matSuffix>bar_chart</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <p class="text-muted">*10th and 12* Grade details are
                mandatory</p>

              <div class="button-container">
                <button mat-raised-button 
                  color="warn" class="me-2">
                  Back
                </button>
                <button mat-raised-button
                  color="primary"
                  type="submit">
                  {{ isEdittingMode ? 'Update' : 'Submit' }}
                </button>

              </div>
            </form>
             </div>
      
           
          </div>
        </div>
      </mat-tab>
      
            <mat-tab >
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Settings
              </ng-template>
              <div class="header">
                <h2>
                  <strong>Security</strong> Settings</h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                </div>
                <button mat-raised-button color="primary">Save</button>
              </div>
            
            </mat-tab>

          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
