<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <app-breadcrumb 
          [title]="breadscrum.title" 
          [items]="breadscrum.items" 
          [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
  
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
           
            <div class="body">
              <form class="m-4" [formGroup]="documentForm" (ngSubmit)="onDocumentFormSubmit()">
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Document Type</mat-label>
                      <input matInput formControlName="documenttype" placeholder="Enter document type">
                      
                      <mat-error *ngIf="documentForm.get('documenttype').invalid && documentForm.get('documenttype').touched">
                        Document type is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="btn-space" [disabled]="!documentForm.valid" mat-raised-button color="primary">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
  
              <div class="row mt-4">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <!-- <div class="header">
                      <h2>Document Type List</h2>
                    </div> -->
                    <div class="body table-responsive">
                      <table class="table table-hover table-resposive">
                        <thead class="thead-light">
                          <tr>
                            
                            <th scope="col">Document Type</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let document of (documents$ | async); let i = index">
                            
                            <!-- <td>{{ i + 1 }}</td> -->
                            <td data-label="Document Type">
                              <div *ngIf="editingDocumentId !== document.id; else editMode">
                                {{ document.documentType }}
                              </div>
                              <ng-template #editMode>
                                <div class="edit-input-container">
                                  <input [(ngModel)]="editingDocumentType" placeholder="Edit document type" class="form-control edit-input">
                                </div>
                              </ng-template>
                            </td>
                            <td data-label="Actions">
                              <div *ngIf="editingDocumentId !== document.id; else editActions">
                                <button mat-icon-button color="primary" (click)="editDocument(document.id)" matTooltip="Edit">
                                  <!-- <mat-icon>edit</mat-icon> -->
                                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                </button>
                                <button mat-icon-button color="warn" (click)="deleteDocument(document.id)" matTooltip="Delete">
                                  <!-- <mat-icon>delete</mat-icon> -->
                                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                                </button>
                              </div>
                              <ng-template #editActions>
                                <button mat-icon-button color="primary" (click)="updateDocument(document.id)" matTooltip="Update">
                                  <mat-icon>check</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="cancelEdit()" matTooltip="Cancel">
                                  <mat-icon>close</mat-icon>
                                </button>
                              </ng-template>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> <!-- End Document List -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
